* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ebebeb;
  color: #707070;
  margin-bottom: 73.5px;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  margin-right: 199px;
}

.tgl {
  margin: 15px 0px 4px 141px;
  font-size: 44px;
  text-align: center;
  height: 53px;
  width: 86px;
}

.home {
  margin: 28px 0px 23.5px 74px;
  font-size: 20px;
  text-align: center;
  height: 24px;
  width: 56px;
}

.account {
  margin: 28px 0px 23.5px 0px;
  font-size: 20px;
  text-align: center;
  height: 24px;
  width: 80px;
}

.logout {
  margin: 28px 10px 23.5px 40px;
  font-size: 20px;
  text-align: center;
  height: 24px;
  width: 72px;
}

.greenLine {
  position: absolute;
  top: 73.2px;
  left: 130px;
  background-color: #b5c401;
  width: 107px;
  height: 7px;
  border-radius: 6px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin: 0px 0px 0px 130px;
}

.chooseAGame {
  margin: 33px 0px 0px 0px;
  font-size: 17px;
  font-weight: bold;
  color: #707070;
}

.gameFilterButton {
  margin: 20px 0px 0px;
}

.gameFilterButton > button {
  font-size: 14px;
  width: 113px;
  height: 34px;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
  border-radius: 28px;
  background-color: transparent;
}

.lotofacil {
  color: #7f3992;
  border-color: #7f3992;
}

.lotofacil:hover {
  color: #fff;
  background: #442866;
  border-color: #442866;
  transition: background-color 0.2s;
}

.megasena {
  color: #01ac66;
  border-color: #01ac66;
}

.megasena:hover {
  color: #fff;
  background: #01ac66;
  border-color: #01ac66;
  transition: background-color 0.2s;
}

.lotomania {
  color: #f79c31;
  border-color: #f79c31;
}

.lotomania:hover {
  color: #fff;
  background: #f79c31;
  border-color: #f79c31;
  transition: background-color 0.2s;
}

.gameDescription {
  margin: 28px 0px 0px 0px;
  color: #868686;
}
